/*==============================================
/*==============================================
/*==============================================
 CLIENT
/*==============================================
/*==============================================
/*=============================================*/

#client{
	width:100%;
	border-top: 1px solid rgba(58,58,58,0.03);
	border-bottom: 1px solid rgba(58,58,58,0.03);
	padding: 50px 0px;
	background-image: url("../images/bg.png");
	background-position: center;
	background-size: 1000px;
}

.client-heading{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.c-box-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin:20px 0px;
}

.client-box {
	width:310px;
	height: 350px;
	background-color: #FFFFFF;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	margin: 20px;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.08);
	transition: all ease 0.2s;
}

.client-box img{
	width:90px;
	height: 90px;
	border-radius: 50%;
	object-fit: cover;
}

.client-box strong{
	color:#1c3548;
	margin:0px;
	font-size: 1.1rem;
	font-weight: 600;
	margin-top:10px;
}

.star{
	display: flex;
	margin: 10px 0px 10px 0px;
}

.star i{
	color:#ff9529;
}
.client-box p{
	color:#747474;
	font-size: 0.9rem;
	margin:0px;
	text-align: center;
	display: block;
	display: -webkit-box;
	max-width: 80%;
	-webkit-line-clamp:4;
	-webkit-box-orient:vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.client-box a{
	width:190px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#FFFFFF;
	background-color: #1db096;
	border-radius: 20px;
	box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
}

.client-box a{
	width:140px;
	margin-top: 20px;
	border-radius: 0px;
}

.client-box:hover{
	transform: translateY(-10px);
	box-shadow: 5px 10px 30px rgba(0,0,0,0.1);
    background-color: #23cdaf;
}

.client-box:hover p{
	color: #fff;
}