/*==============================================
/*==============================================
/*==============================================
 CONTACT
/*==============================================
/*==============================================
/*=============================================*/

#contact{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin:40px 0px;
	background-image: url(../images/bg.png);
	background-size: cover;
}

#contact h3{
	font-size:2.5rem;
	margin:20px;
}

#contact img{
	height:300px;
}

.contact-input{
	width:400px;
	height:50px;
	background-color:#FFFFFF;
	display:flex;
	justify-content: center;
	border-radius: 50px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
}

.contact-input input{
	width:100%;
	background-color: transparent;
	border:none;
	outline: none;
	text-align: center;
	color:#242425;
}

.contact-input a{
	width:200px;
	height:35px;
	background-color:#1db096;
	color:#FFFFFF;
	display: flex;
	font-size: 0.9rem;
	justify-content: center;
	align-items: center;
	margin: auto 10px;
	border-radius: 20px;
	font-weight: 500;
}

/*==============================================
/*==============================================
/*==============================================
 CONTACT FORM
/*==============================================
/*==============================================
/*=============================================*/

.social a{
	padding: 20px;
	color:#7b7c7c;
	font-size:1.1rem;
}

#contactForm{
	position: relative;
	display: flex;
    align-items: center;
	justify-content: center;
	margin: 120px 0 70px 0;
}

.social{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}

.social a:hover{
	color:#000000;
	transition: all ease 0.3s;
}

.contact-box{
    background: url(../images/bg2.png);
    background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 30px;
	box-shadow: 2px 0px 30px rgba(0,0,0,0.1);
}

.c-heading h1{
	color: #e7eef3;
	font-size: 2.5rem;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
}

.c-heading p{
	color:#cecece;
	font-size: 0.8rem;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.c-inputs{
	margin: 15px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.c-inputs input{
	width: 100%;
	height: 45px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(251,251,251,0.1);
	outline: none;
	margin: 10px 0px;
	padding: 10px;
	box-sizing: border-box;
	color: #f4f4f4;
	display: flex;
}

.c-inputs textarea{
	width: 100% !important;
	height: 200px !important;
	outline: none;
	background-color: transparent;
	border:1px solid rgba(82,82,82,1);
	color: #f4f4f4;
	padding: 10px;
	font-size: 1.2rem;
	box-sizing: border-box;
}

.c-inputs button{
	width:200px;
	height: 40px;
	background-color: #FFFFFF;
	border: none;
	outline: none;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	letter-spacing: 1px;
}

.c-inputs button:hover{
	cursor: pointer;
}

.c-inputs input:focus{
	border-bottom: 1px solid rgba(252,252,252,1.00);
	transition: all ease 0.5s;
}

.c-inputs textarea:focus{
	border: none;
	border-bottom: 1px solid rgba(255,255,255,1.00);
	transition: all ease 0.5s;
	background-color: rgba(0,0,0,0.1);
}

.c-inputs button:active{
	transform: scale(1.02);
}

.map{
	filter: grayscale(0.2);
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border: 2px solid #FFFFFF;
}

h6.alert-danger{
	font-size: 18px;
	background-color: #e8505b;
	color: #fff;
	font-weight: bold;
	padding: 10px;
}

/*==============================================
 CONTACT INFO
/*=============================================*/

.contactInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerContactInfo{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px 0 40px 0;
}

.containerContactInfo .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 30px;
    background: #fff;   
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.containerContactInfo .box .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.containerContactInfo .box:hover .imgBx{
    transform: scale(0);
    transition-delay: 0s;
}

.containerContactInfo .box .imgBx img{
    max-width: 100px;
}

.containerContactInfo .box .content{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
    background: #2adabc;
    transform: scale(0);
    transition-delay: 0s;
}

.containerContactInfo .box:hover .content{
    transform: scale(1);
    transition-delay: 0.5s;
}

.containerContactInfo .box .content .icon img{
    max-width: 80px;
    filter: invert(1);
}

.containerContactInfo .box .content h3{
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 10px;
}

.containerContactInfo .box .content h4{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

/*==============================================
 MEDIA QUERIES
/*=============================================*/

@media(max-width:1100px){
	.map{
		display: none;
	}
}

@media(max-width:450px){
	.social{
		display: none;
	}
	.contact-box{
		width: 100%;
		height: 100vh;
		box-sizing: border-box;
	}
	#contactForm{
		position: static;
		transform: translate(0,0);
		width:100%;
		height: 100vh;
		box-sizing: border-box;
	}
	.c-heading h1{
		font-size: 2.2rem;
		text-align: center;
	}
}