/*==============================================
/*==============================================
/*==============================================
 EDUCATION
/*==============================================
/*==============================================
/*=============================================*/

#education{
    margin-bottom: 90px;
}

#education .inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

#education .section-title{
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    font-size: 26px;
    padding-bottom: 20px;
    color: #111;
}

#education .section-title::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #111;
    bottom: 0;
    left: calc(50% - 40px);
}
  
#education .section-title::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background-color: #23cdaf;
    border: 4px solid #f1f1f1;
    left: calc(50% - 12px);
    bottom: -7px;
}

#education .time-line{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#education .block{
    width: calc(50% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 30px;
    position: relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    transition: 0.5s ease;
}

#education .block:hover{
    transform: translateY(-10px);
}
  
#education .block::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 120%;
    background-color: #ddd;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}
  
#education .block::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #23cdaf;
    left: -28px;
    top: 30px;
    border-radius: 50%;
}
  
#education .block h3{
    font-size: 16px;
    margin: 10px 0;
}
  
#education .block p{
    font-size: 15px;
    color: #444;
}

@media screen and (max-width: 980px){
    #education .inner-width{
        max-width: 800px;  
    }
    #education .block{
        width: calc(100% - 20px);
        margin-left: auto;
    }
}

@media screen and (max-width: 600px){
    #education .inner-width{
      padding: 0 20px;
    }
}