/*==============================================
/*==============================================
/*==============================================
 HOBBIES
/*==============================================
/*==============================================
/*=============================================*/

.hobbies{
	display: flex;
	align-items: center;
	justify-content: center;
}

.hobbies-posts{
  	width: min(1200px, 100%);
	padding: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	cursor: pointer;
}

.post{
	width: calc(33% - 10px);
	overflow: hidden;
}

.hobbies-img{
	width: 100%;
	border-radius: 6px;
	transition: .3s linear;
	height: 300px;
}

.hobbies-content{
	background-color: #ffffffdd;
	margin: 0 20px;
	padding: 30px;
	border-radius: 6px;
	transform: translateY(-60px);
	transition: .3s linear;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.hobbies-content h3{
	font-size: 16px;
	margin-bottom: 10px;
}


.post:hover .hobbies-img{
  	transform: translateY(20px);
}

.post:hover .hobbies-content{
  	transform: translateY(-80px);
}

@media screen and (max-width: 1200px){
	.hobbies-posts{
		justify-content: center;
	}
	.post{
		width: min(600px, 100%);
	}
}

/*==============================================
/*==============================================
 PERSONAL GOALS
/*==============================================
/*=============================================*/

.containerGoals{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-wrap: wrap;
	margin-bottom: 100px;
}

.containerGoals .box{
    position: relative;
    width: 250px;
    height: 200px;
    margin: 30px;
	font-size: 2em;
	text-align: center;
	background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
	color: rgb(105, 104, 104);
	transition: 0.5s;
}

.containerGoals .box:hover{
	transform: translateY(-10px);
}

.containerGoals .box.shadow1{
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.2),
                15px 15px 15px  rgba(0,0,0,0.1);
}

.containerGoals .box.shadow2{
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.2),
                15px 15px 15px  rgba(0,0,0,0.1), 
                inset -10px -10px 10px rgba(255, 255, 255, 0.2),
                inset 15px 15px 15px  rgba(0,0,0,0.1);
}

.containerGoals .box.shadow3{
    box-shadow: inset 4px 4px 5px rgba(255, 255, 255, 0.3),
                inset -4px -4px 5px rgba(0,0,0,0.1), 
                10px 40px 40px  rgba(0,0,0,0.1);
}

.containerGoals .box.shadow4{
    border: 10px solid rgb(250, 248, 248);
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.2),
                15px 15px 15px  rgba(0,0,0,0.1), 
                inset -10px -10px 10px rgba(255, 255, 255, 0.2),
                inset 15px 15px 15px  rgba(0,0,0,0.1);
}