/*==============================================
/*==============================================
/*==============================================
 RESPONSIVE DESIGN
/*==============================================
/*==============================================
/*=============================================*/

nav .menu-btn,
.menu-icon{
	display:none;
}

@media(max-width:1140px){
	.skill-bars{
		width: 100%;
	}
	.contentMe{
		width:100%;
	}
	.model{
		width:400px;
		height: 400px;
	}
	.main-text,.model{
		margin:10px;
	}
	.main-text h1{
		font-size:3rem;
	}
	.skill-img{
		width:400px;
		height: 400px;
	}
	.client-box{
		flex-grow:0.5;
	}
	.portfolio-btn{
		position: relative;
		z-index: 100;
	}
}

@media(max-width:900px){
.menu-icon{
display:block;}
	nav{
		justify-content: space-between;
		height: 65px;
		padding: 0px 50px;
	}
	.menu{
		display:none;
		position:absolute;
		top:65px;
		left:0px;
		background-color:#FFFFFF;
		border-bottom:4px solid #1db096;
		width:100%;
		padding:0px;
		margin:0px;
	}
	.menu li{
		width:100%;
	}
	nav .menu li a{
		width:100%;
		height:40px;
		justify-content: center;
		align-items: center;
		margin:0px;
		padding: 25px;
		border:1px solid rgba(38,38,38,0.03);
		color: #333;
	}
	nav .menu-icon{
		cursor:pointer;
		float:right;
		padding:28px 20px;
		position:relative;
		user-select: none;
	}
	nav .menu-icon .nav-icon{
		background-color:#fff;
		display:block;
		height:2px;
		position:relative;
		transition: background 0.2s ease-out;
		width:18px;
	}
	nav .menu-icon .nav-icon:before,
	nav .menu-icon .nav-icon:after{
		background:#fff;
		content:'';
		display:block;
		height:100%;
		position:absolute;
		transition:all ease-out 0.2s;
		width:100%;
	}
	nav .menu-icon .nav-icon:before{
		top:5px;
	}
	nav .menu-icon .nav-icon:after{
		top:-5px;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon{
		background:transparent;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
		transform: rotate(-45deg);
		top:0;
	}
	nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
		transform: rotate(45deg);
		top:0;
	}
	nav .menu-btn{
		display:none;
	}
	nav .menu-btn:checked ~ .menu{
		display:block;
	}
	.sticky{
		padding: 30px;
	}
	.sticky .menu-icon .nav-icon,
	.sticky .menu-icon .nav-icon::before,
	.sticky .menu-icon .nav-icon::after{
		background-color: black;
	}
	#skills{
		width:100%;
		justify-content: space-between;
		padding-left: 40px;
	}
	.skill-text{
		width:100%;
	}
	.skill-img{
		display: none;
	}
	.client-heading h3,
	#contact h3{
		font-size:2.2rem;
		text-align:center;
	}
}

@media(max-width:720px){
	.model{
		display:none;
	}
	.main-text{
		width:70%;
		position:absolute;
		left:50%;
		top:43%;
		transform:translate(-50%,-50%);
	}
	#contact img{
		height:200px;
	}
	footer p{
		text-align: center;
	}
}

@media(max-width:530px){
	.contact-input{
		width:90%;
	}
	.skill-text{
		width:85%;
	}
	#skills{
		margin:0px;
	}
}